<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pagrindinis puslapis | KEEPCharged</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {{ template "header.html" }}
</head>

<body>

<div class="back-to-top">
    <a class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>
</div>

<div class="container-xxl bg-white p-0">
    {{ template "spinner.html" }}
    {{ template "navbar.html" }}
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="section-title position-relative mb-4 pb-2">
                        <h6 class="position-relative text-primary ps-4">Apie mus</h6>
                        <h2 class="mt-2">Kauno technologijų universiteto trečiakursių komanda</h2>
                    </div>
                    <p class="mb-4">Mūsų tikslas sukurti pilnai veikiančią platformą, padedančią žmonėms patogiau ir paprasčiau pasiekti elektromobilių įkrovimo stotelių tinklą.</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Patogu</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Paprasta</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Aišku</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Nemokama</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-4">

                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="/static/img/KTU.jpg" alt="KTU logo">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Blue strap -->
    <div class="container-xxl bg-primary newsletter my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container px-lg-5">
            <div style="height: 100px;">
            </div>
        </div>
    </div>
    <!-- Blue strap End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="position-relative d-inline text-primary ps-4">Mūsų paslaugos</h6>
                <h2 class="mt-2">Kokias paslaugas mes suteikiame</h2>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon flex-shrink-0">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Rezervacija</h5>
                        <p>Suteikiame galimybę užsirezervuoti įkrovimo stotelę</p>
                        <a class="btn px-3 mt-auto mx-auto" href="">Plačiau</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon flex-shrink-0">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Stotelių informacija</h5>
                        <p>Suteikiame informaciją apie visas stoteles realiu laiku</p>
                        <a class="btn px-3 mt-auto mx-auto" href="">Plačiau</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon flex-shrink-0">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Filtravimas</h5>
                        <p>Rodomas įkrovimo stoteles galima filtruoti pagal užimtumą, atstumą, jungties tipą</p>
                        <a class="btn px-3 mt-auto mx-auto" href="">Plačiau</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                        <div class="service-icon flex-shrink-0">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                        <h5 class="mb-3">Taikomojo programavimo sąsaja</h5>
                        <p>Tai yra programinės įrangos blokai, leidžiantys dviems programoms bendrauti tarpusavyje, vadinasi, mūsų paslaugomis galima naudotis per sąsaja</p>
                        <a class="btn px-3 mt-auto mx-auto" href="">Plačiau</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Blue strap -->
    <div class="container-xxl bg-primary newsletter my-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container px-lg-5">
            <div style="height: 100px;">
            </div>
        </div>
    </div>
    <!-- Blue strap End -->


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="position-relative d-inline text-primary ps-4">Mūsų komanda</h6>
                <h2 class="mt-2">Susipažinkite su mumis</h2>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                <a class="btn btn-square text-primary bg-white my-1" href="https://www.linkedin.com/in/vsarauskyte/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <img class="img-fluid rounded w-100" src="/static/img/team/vaiva.png" alt="">
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Vaiva Šarauskytė</h5>
                            <small>Vadybininkė</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                <a class="btn btn-square text-primary bg-white my-1" href="https://www.linkedin.com/in/ignas-rutkauskas-200451121/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <img class="img-fluid rounded w-100" src="/static/img/team/ignas.png" alt="">
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Ignas Rutkauskas</h5>
                            <small>Analitikas</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                <a class="btn btn-square text-primary bg-white my-1" href="https://www.linkedin.com/in/karolis-tarutis-48992a227/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <img class="img-fluid rounded w-100" src="/static/img/team/karolis.png" alt="">
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Karolis Tarutis</h5>
                            <small>Testuotojas</small>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                <a class="btn btn-square text-primary bg-white my-1" href="https://www.linkedin.com/in/matasrusa/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <img class="img-fluid rounded w-100" src="/static/img/team/matas.png" alt="">
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Matas Ruša</h5>
                            <small>Serverinė dalis</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                <a class="btn btn-square text-primary bg-white my-1" href="https://www.linkedin.com/in/paulius-skliaudys-89b864269/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <img class="img-fluid rounded w-100" src="/static/img/team/paulius.png" alt="">
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Paulius Skliaudys</h5>
                            <small>Naudotojo sąsaja</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="d-flex">
                            <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5" style="width: 75px;">
                                <a class="btn btn-square text-primary bg-white my-1" href="https://www.linkedin.com/in/norbertas-koncevi%C4%8Dius-6997b7269/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <img class="img-fluid rounded w-100" src="/static/img/team/norbertas.png" alt="">
                        </div>
                        <div class="px-4 py-3">
                            <h5 class="fw-bold m-0">Norbertas Koncevičius</h5>
                            <small>Serverinė dalis</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    {{ template "footer.html" }}
</div>
{{ template "js.html" }}
</body>

</html>